params {
  profile  = false
  unmapped = false
  outdir = outdir
  minqual  = 100
  mincov   = 10
  minfrac  = 0
  maxsoft  = 10
  basequal = 13
  mapqual  = 60
}

profiles {
  conda {
    process.conda = "$baseDir/environments/environment.yml"
    if (params.cache){
      conda.cacheDir = params.cache
    }
  }
}

process {
  withName: align { 
    cpus = 4
  }
  withName: call_variants { 
    cpus = 4
  }
}

manifest {
  mainScript = 'main.nf'
  nextflowVersion = '>=20.01.0'
  version = '0.1.0'
}
